body {
  background-color: black;
  color: white;
	font-family: sans-serif;
}

h1 {
  margin-top: 150px;
  text-align: center;
}

.drops {
	margin-bottom: 20px;
}

.drops a {
	margin: 10px;
}

.button-area {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
}

a.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 3.5rem 4rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
}
a.btn:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}

#onemore {
  width: 100px;
	height: 30px;
  margin: 20px auto 0;
}